<%= form_with model: student do |form| %>
  <div>
    <%= form.label :name, :class => 'form-label' %><br>
    <%= form.text_field :name, :required => true %>
    <% student.errors.full_messages_for(:names).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :surname, :class => 'form-label' %><br>
    <%= form.text_field :surname, :required => true, :class => 'form-control', %>
    <% student.errors.full_messages_for(:surname).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
  <%= form.label :age, :class => 'form-label' %><br>
  <%= form.number_field :age in: 6..100, step: 1, :required => true, :class => 'form-control',%>
  <% student.errors.full_messages_for(:age).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

  <div>
  <%= form.label :language, :class => 'form-label' %><br>
  <%= form.text_field :language, :class => 'form-control', :required => true %>
  <% student.errors.full_messages_for(:language).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

  <div>
    <%= form.label :school %><br>
    <%= select_tag 'school_number', options_for_select(@schools.collect { |school| [school.number]}), class: "form-control" %><br>
    <% student.errors.full_messages_for(:school).each do |message| %>
      <div><%= message %></div>Sc
    <% end %>
  </div>

  <div>
    <%= form.label :grade %><br>
    <%= form.select :grade, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], selected: 1 %><br>
  </div>

  <div>
    <button class="btn"><%= form.submit %></button>
  </div>
<% end %>